<launch>
	<node name="practice01" pkg="students" type="practice01.py"/>
	<node name="practice02" pkg="students" type="practice02.py"/>
	<node name="practice03" pkg="students" type="practice03.py"/>
	<node name="practice04proyecto" pkg="students" type="practice04proyecto.py"/>

	<include file="$(find surge_et_ambula)/launch/dictionary.launch">

	<node name="ManegeProgram" pkg="students" type="implementado.py"/>
</launch>
