<launch>
    <node name="practice01" pkg="students" type="practice01.py"/>
    <node name="practice02" pkg="students" type="practice02.py"/>
    <node name="practice03" pkg="students" type="practice03.py"/>
    <node name="practice04_proj" pkg="students" type="practice04_proj.py"/>
    <include file="$(find surge_et_ambula)/launch/Project_Dictionary.launch"/>

    <node name="Pruebaproyecto3" pkg="students" type="Pruebaproyecto3.py"/>
</launch>