<launch>
  <node name="SoundPlay" pkg="sound_play" type="soundplay_node.py"/>
  <node name="practice01" pkg="students" type="practice01.py"/>
  <node name="practice02" pkg="students" type="practice02.py"/>
  <node name="practice03" pkg="students" type="practice03.py"/>
  <node name="practice04" pkg="students" type="practice04.py"/>
  <node name="proyectof"   pkg="students" type="proyectof.py"/>

  <include file="$(find surge_et_ambula)/launch/speech_recognition.launch"/>
 <include file="$(find surge_et_ambula)/launch/path_planning.launch"/>

</launch>
