<launch> 
	<include file="$(find surge_et_ambula)/launch/speech_recognition.launch"/> 
	<include file="$(find surge_et_ambula)/launch/path_planning.launch"/>
	<node name="practice01" pkg="students" type="practice01.py" output="screen"/>
	<node name="practice02" pkg="students" type="practice02.py" output="screen"/>
	<node name="practice03" pkg="students" type="practice03.py" output="screen"/>
	<node name="practice04" pkg="students" type="practice04.py" output="screen"/>
	<node name="proyectofinal" pkg="students" type="proyectofinal.py" output="screen"/>
	<node name="sonido" pkg="sound_play" type="soundplay_node.py" output="screen"/>

</launch>

